/**
 * THEME COLORS http://coolors.co/44355b-31263e-221e22-eca72c-ee5622
 *  base bg - #21192d
 *  content bg - #DDF2E9
 *  grey nav - #221E22
 *  orange - #ECA72C
 * 
 */

/*****************************************************************************
 * BASE DOMS
 */
html, body {
	height: 100%;
	background-color: #21192d;
	font-size: 16px;
}
#content {
	background-color: #DDF2E9;
	padding-bottom: 0px;
	padding-left: 50px;
	padding-right: 50px;
	min-height: 100%;
	padding-bottom: 10em; /* footer */
}

#content-header {
	margin-left: 250px;
	margin-top: 111px;
	height: 118px;
}


@media (max-width: 768px) {
	#content-header {
		margin-left: 0px;
		margin-top: 219px;
	}
}

.footer {
	margin-top: -5em;
	height: 5em;
	background-color: #221E22;
}

@media (min-width: 1000px) {
	.container {
		width: 1000px;
	}
}
@media (max-width: 1000px) {
	.container {
		width: 100%;
	}
}

/*****************************************************************************
 * SHORTCUTS
 */
 .vcenter {
     display: inline-block;
     vertical-align: middle;
     float: none;
 }
 
 .link-none, .link-none:hover, .link-none:visited, .link-none:active {
 	color: inherit;
 	text-decoration: none;
 } 

/*****************************************************************************
 * NAV
 */
.navbar-brand {
	padding: 0.5em 1em;
}
.navbar-inverse {
	background-color: #221E22;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #DDF2E9;
	color: #221E22;
	font-weight: bold;
}
#navLogo {
	margin-left: 35px;
}
#banner {
	padding: 1em;
}





/*****************************************************************************
 * ICONS
 */
.logo {
	background-repeat: no-repeat;
	display: block;
	background-position: center center;
}
.logo.logo-s {
	background-image: url('/img/logo/theMenu-logo-s.png');
	width: 200px;
	height: 167px;
}
.logo.logo-xs {
	background-image: url('/img/logo/theMenu-logo-xs.png');
	width: 100px;
	height: 83px;
}
.icon-loading {
	margin: auto;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 50%;
	opacity: .7;
	width: 48px;
	height: 48px;
	background-image: url('/img/loading.gif');
}
.icon-github {
	margin: auto;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 50%;
	opacity: .7;
	width: 36px;
	height: 36px;
	background-image: url('/img/GitHub-Mark-32px.png');
	background-color: #fff;
}
.icon-github:hover {
	opacity: 1.0;
}


/*****************************************************************************
 * FORMS
 */
.hasInputError {
	color: #ECA72C;
}


/*****************************************************************************
 * HEADER
 */
#accountStats {
	
}
#accountStats span {
	display: block;
}

/*****************************************************************************
 * Thumb grid
 */
.thumb-table {
	margin-top: 1em;
	margin-bottom: 1em;
}

.thumb-item {
	display: inline-block;
	margin: .5em;
	padding: .5em;
	background-color: #FFFFFF;
	border-radius: .2em;
}
.thumb-img {
	width: 110px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	border-radius: .2em;
}
.thumb-img.thumb-small {
	width: 50px;
	height: 50px;
}

.caption {
	max-width: 110px;
}

.ingredient-img {
	display: block;
	max-width: 100%;
	height: auto;
	max-height: 30em;
	margin-bottom: 1em;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	border-radius: .2em;
}

/*****************************************************************************
 * AUTOCOMPLETE
 */
 .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
 .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
 .autocomplete-selected { background: #F0F0F0; }
 .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
 .autocomplete-group { padding: 2px 5px; }
 .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }