extend ../../layout
block content-header
	h1 Add New Recipe

block content-body
	.formResult
	form#addRecipeForm.form-horizontal(role="form" method="post" action='/user/add/ingredient', enctype='multipart/form-data')
		.form-group
			label.control-label.col-sm-3(for="title") Title
			.col-sm-6
				input.form-control(type="text" name="title" placeholder="Enter the name of the recipe" maxlength='100' required)
		.form-group
			label.control-label.col-sm-3(for="image") Example Result
			.col-sm-6
				input.form-control(type="file" name="image" accept="image/*" required)

		.form-group
			label.control-label.col-sm-3(for="description") Description
			.col-sm-6
				textarea.form-control(rows="5" name="description" placeholder="Describe the recipe"  maxlength='2000' required)
		
		.form-group
			label.control-label.col-sm-3(for="difficulty") Difficulty
			.col-xs-2
				select.form-control(name='difficulty' required)
					- var i = 0
					while i <= 10
						option.form-control(value='#{i}') #{i++}
		.form-group
			label.control-label.col-sm-3(for="prepTime") Prep Time (m)
			.col-sm-6
				input.form-control(type="number" name="prepTime" placeholder="How long does it take to make?" min='1' required)
		.form-group
			label.control-label.col-sm-3(for="eaterAmount") Feeds
			.col-sm-6
				input.form-control(type="number" name="eaterAmount" placeholder="How many people does this feed?"  min='1' required)
		
		
		
		h2 Minimum Ingredients
		table.table.table-hover
			thead
				tr
					th
					th Name
					th Qty
					th.col-xs-2
			tbody#ingredients
				
			tbody#addIngredient
				tr
					td.col-xs-1
					td.col-xs-10
						input#searchIngredients.form-control(type='text' placeholder="What next?" maxlength='100' name='ingredientName')

					td.col-xs-1.text-center
						//- .btn.btn-default Add
		.text-center
			#modifyIngredient.btn.addNew(data-glyph='plus')
				span.glyphicon.glyphicon-plus
		
		h2 Instructions
		table.table.table-hover
			thead
				tr
					th.col-xs-1.text-center #
					th.col-xs-10 Description
					th.col-xs-1
			tbody#instructions
				
			tbody#addInstruction
				tr
					td.col-xs-1
					td.col-xs-10
						textarea.form-control(rows='3' placeholder="What next?" maxlength='2000' name='instructionDescription')

					td.col-xs-1.text-center
						.btn.btn-default Add
		.text-center
			#modifyInstruction.btn.addNew(data-glyph='plus')
				span.glyphicon.glyphicon-plus
		
		
		br
		br
		.text-center
			.formError
		.text-center
			button#submit.btn.btn-default.btn-lg(type="submit") Create!


block localJS
	script(type='text/javascript' src='/js/autocomplete/jquery.autocomplete.min.js')
	script(type='text/javascript' src='/js/user/add/recipe.js')