extend ../layout
block content-header
	h1 Recipes

block content-body
	.row
		.col-sm-3
			a.btn.btn-default(href='/user/add/recipe') Add New Recipe
	
	p Ut viverra vitae leo eget hendrerit. Aenean feugiat justo sapien, pharetra feugiat libero hendrerit a. Sed ut ex at diam rhoncus ultrices. Cras maximus scelerisque sapien, at eleifend justo ornare ut. Vivamus cursus, ex a sagittis ultricies, turpis arcu viverra ex, et consequat enim quam a velit.

block localJS
	script(type='text/javascript' src='/js/public/recipes.js')