extend ../layout
block content-header
	h1 Ingredients

block content-body
	.row
		.col-sm-3
			a.btn.btn-default(href='/user/add/ingredient') Add New Ingredient
	
	p Donec ultrices, tellus nec tincidunt facilisis, elit velit vulputate sem, eu consectetur libero ligula ac quam. Morbi arcu ligula, pellentesque vitae elit eget, aliquam suscipit nunc. Duis scelerisque dui arcu, eget fringilla eros faucibus pretium. Donec posuere felis dui, non pulvinar velit feugiat sed. Duis mattis mauris id tristique dapibus. Duis eleifend, mauris et elementum ullamcorper, risus nulla dignissim lectus, feugiat interdum nunc nisl eget justo. Duis tincidunt magna et est viverra vestibulum. Proin ultricies viverra ultrices.
		

block localJS
	script(type='text/javascript' src='/js/public/ingredients.js')